.careers-blurbs {
    background-color: #e8e8e8;
    padding: 40px;
}

.careers-blurbs-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.careers-blurb {
    display: flex;
    gap: 16px;
}

.careers-blurb-img {
    align-items: center;
    background-color: #477105;
    border-radius: 50%;
    display: flex;
    flex: 0 0 60px;
    height: 60px;
    justify-content: center;
    padding: 16px;
    text-align: center;
    width: 60px;
}

.careers-grid {
    background-color: #a4c93f;
}

.careers-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.careers-grid-item {
    align-items: center;
    display: flex;
}

.careers-grid-item-reverse {
    flex-direction: row-reverse;
}

.careers-grid-img {
    flex: 0 0 50%;
}

.careers-grid-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    width: 800px;
}

.careers-grid-desc {
    color: #39325b;
    font-size: clamp(1rem, calc(50% + 1vw), 1.5rem);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.leadership-section {
    background-color: #e0828b;
    padding: 80px;
}

.leadership-section-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.leadership-section-desc,
.leadership-section-img-container {
    flex: 0 0 50%;
}

.leadership-section-heading {
    font-size: clamp(2rem, calc(50% + 1vw), 2.5rem);
    text-align: center;
    width: 100%;
}

.leadership-section-list {
    display: table;
    margin: auto;
}

.leadership-section-img img {
    max-width: 100%;
}

.leadership-section-img-caption {
    display: block;
    text-align: center;
}

@media(max-width:980px){
    .careers-grid-container {
        grid-template-columns: 1fr;
    }

    .careers-grid-item {
        flex-direction: row;
    }

    .careers-grid-item:nth-child(2),
    .careers-grid-item:last-child {
        flex-direction: row-reverse;
    }

    .leadership-section {
        padding: 32px;
    }

    .leadership-section-container {
        flex-direction: column;
    }
}

@media(max-width:767px){
    .careers-grid-item {
        flex-direction: column;
    }

    .careers-grid-item:nth-child(2),
    .careers-grid-item:last-child {
        flex-direction: column;
    }

    .careers-blurbs-container {
        grid-template-columns: 1fr;
    }
}